<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Congratulations</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<section>
			<div class="jumbotron">
				<div class="container">
					<h1>Congratulations</h1>
					<p>You just added the book to the system</p>
					<p>If you want see all books click BOOKS!</p>
			<p>
				<a th:href="@{/books}" class="btn btn-default"> <span
					class="glyphicon-info-sign glyphicon" /></span> BOOKS
				</a>
			</p>
				</div>
			</div>
			
		</section>

	</div>
</body>
</html>
