<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Access denied</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<section>
			<div class="jumbotron">
				<div class="container">
					<h1>Oops!</h1>
					<p>New book need a title and an author!</p>
					<a th:href="@{/books/add}" class="btn btn-default"> <span
						class="glyphicon-info-sign glyphicon" /></span> TRY AGAIN!
					</a>

				</div>
			</div>
		</section>
	</div>
</body>
</html>
